<div class="Login">
  <div class="Login-content" [ngClass]="{'log':activeForm === 'login'}">
    <form class="Login-form">
      <div *ngIf="activeForm == 'login'">
        <h2 class="uppercase bold">Iniciar Sesión</h2>
        <span>
          <input type="text" (change)="viewInputs($event)" id="email">
          <label for="">Correo electrónico:</label>
          <i class="material-icons">person</i>
        </span>
        <span>
          <input type="password" (change)="viewInputs($event)" id="password">
          <label for="">Contraseña:</label>
          <i class="material-icons">lock</i>
        </span>
        <a href="javascript:;" class="forget">¿Olvidó su contraseña?</a>
        <button class="bold uppercase" (click)="signInBtn()">Iniciar Sesión</button>
        <button class="uppercase bold" (click)="activeForm = 'signup'">Crear cuenta</button>
        <div class="social">
          <button (click)="auth.loginFacebook()">
            <img src="assets/img/facebook.png" alt="Login whit facebook">
          </button>
          <button (click)="loginGoogle()">
            <img src="assets/img/google.png" alt="Login whit google">
          </button>
        </div>
      </div>
      <div *ngIf="activeForm != 'login'">
          <h2 class="uppercase bold">Registrarme</h2>
          <span>
            <input type="text" (change)="viewInputs($event)" id="email">
            <label for="email">Correo electrónico</label>
            <i class="material-icons">mail</i>
          </span>
          <span>
            <input type="password" (change)="viewInputs($event)" id="password">
            <label for="password">Contraseña:</label>
            <i class="material-icons">lock</i>
          </span>
          <button class="bold uppercase" (click)="signupBtn()">Registrarme</button>
      <button class="uppercase bold" (click)="activeForm = 'login'">Iniciar Sesión</button>

      </div>
    </form>
    <div class="Login-msg">
      <h2 class="bold">¿Ya tienes una cuenta?</h2>
      <button class="uppercase bold" (click)="activeForm = 'login'">Iniciar Sesión</button>
    </div>
    <div class="Signup-msg">
      <h2 class="bold">¿No tienes una cuenta?</h2>
      <button class="uppercase bold" (click)="activeForm = 'signup'">Registrarme</button>
    </div>
  </div>
</div>